


.split {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: strech;
	p {
		flex-basis: 100%;
	}
}

.test-case-report {
	position: relative;
	width: 100%;
	margin: 20px 0;

	.comparison-slider {
		position: relative;
		width: 100%;
		margin: 0;
		border: 5px white solid;
		box-sizing: border-box;
		> img {
			width: 100%;
			height: auto;
			display: block;
		}

		&:hover .overlay{
			display: block;
		}

		.overlay {
			display: block;
			position: absolute;
			width: 250px;
			bottom: 20px;
			right: 20px;
			background-color: rgba(0, 0, 0, 0.4);
			padding: 10px;
			box-sizing: border-box;
			color: #DDD;
			text-align: right;
		}

		.resize {
			position: absolute;
			top: 0;
			left: 0;
			height: 100%;
			width: 50%;
			overflow: hidden;
			> img {
				display: block;

			}
			.overlay {
				right: auto;
				left: 20px;
				text-align: left;
			}
		}

		.divider {
			position: absolute;
			touch-action: none;
			width: 2px;
			height: 100%;
			background-color: rgba(256, 256, 256, 0.2);
			left: 50%;
			top: 0;
			bottom: 0;
			margin-left: -1px;
			cursor: ew-resize;
			&:before {
				content: "";
				position: absolute;
				width: 20px;
				height: 20px;
				left: -9px;
				top: 50%;
				margin-top: -10px;
				background-color: white;
				transform: rotate(45deg);
				transition: all 0.1s ease-in-out;
			}
			&:after {
				content: "";
				position: absolute;
				width: 12px;
				height: 12px;
				left: -5px;
				top: 50%;
				margin-top: -6px;
				background-color: white;
				transform: rotate(45deg);
				transition: all 0.1s ease-in-out;
			}
			&.dragging{
				&:before {
					width: 30px;
					height: 30px;
					left: -14px;
					margin-top: -15px;
				}
				&:after {
					width: 20px;
					height: 20px;
					left: -9px;
					margin-top: -10px;
					background-color: #555;
				}
			}
		}
	}

	.images--2up {
		display: flex;
		justify-content: space-evenly;
		img {
			width: 95%;
		}
	}

	.test-screenshot:has(input[name="tab"][value="slider"]:not(:checked)) .images--slider,
	.test-screenshot:has(input[name="tab"][value="diff"]:not(:checked)) .images--diff,
	.test-screenshot:has(input[name="tab"][value="2up"]:not(:checked)) .images--2up {
		display: none;
	}

	.tabs form {
		padding: 1em;

		display: flex;
		justify-content: space-around;
		label {
			padding: 1em;
			width: 30%;
			text-align: center;
			&:has(input:checked), &:hover {
				background: var(--bg-color-active);
				cursor: pointer;
			}
			input {
				appearance: none;
			}
			
		}
	}

	details {
		border: 1px solid var(--fg-color);
		border-radius: 4px;
		padding: 0.5em 0.5em 0;
		margin: 0.5em 0;
	  }
	  
	  summary {
		font-weight: bold;
		margin: -0.5em -0.5em 0;
		padding: 0.5em;
	  }
	  
	  details[open] {
		padding: 0.5em;
	  }
	  
	  details[open] summary {
		border-bottom: 1px solid var(--fg-color);
		margin-bottom: 0.5em;
	  }
}

.caption {
	position: relative;
	width: 100%;
	padding: 10px;
	box-sizing: border-box;
	font-style: italic;
	text-align: center;
}

.diff-image {
	width: 100%;
}
